body {
  box-sizing: border-box;
  font-family: 'Consolas', monospace;
  padding: 10px;
}

.site-title {
  font-size: 1.2rem;
  margin-bottom: 40px;
  margin-left: 20px;
}

p {
  margin-left: 20px;
}

details {
  padding: 20px;
  font-size: .8rem;
}

details:hover {
  cursor: pointer;
}

details[open] {
  background: #fef;
}

summary {
  overflow-wrap: break-word;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-item {
  text-align: left;
  display: inline-block;
  margin: 20px;
  min-width: 200px;
  /* max-width: 33%;
  min-height: 200px; */
}

.gallery-item pre {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .8rem;
}

footer {
  margin-top: 40px;
  font-size: .8rem;
}